<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Registro_Tuberia_SADS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Registro_Tuberia_SADS.Properties.Settings>
            <setting name="Gmaquina" serializeAs="String">
                <value />
            </setting>
            <setting name="Gproyecto" serializeAs="String">
                <value />
            </setting>
            <setting name="Gcp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gfrmp_orientacion" serializeAs="String">
                <value />
            </setting>
            <setting name="Gordentrabajo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gformato_hora" serializeAs="String">
                <value />
            </setting>
            <setting name="Gpath_archivotexto" serializeAs="String">
                <value />
            </setting>
            <setting name="Gnumero_registros_respaldo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gnumero_archivo_respaldo" serializeAs="String">
                <value>0</value>
            </setting>
        </Registro_Tuberia_SADS.Properties.Settings>
    </userSettings>
</configuration>
